* {
  box-sizing: border-box;
}

.general-box {
  margin: 2px;
  border: solid black 2px;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(184, 175, 175);
}

.name-plate {
  font-family: sans-serif;
}

.name-plate.general-box {
  background-color: rgb(150, 104, 185);
  
}

.about-me {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.img-me1 {
  width: 16vw;
  height: auto;
  margin: 20px;
  float: left;
  border-radius: 50%;
}

.drop-cap {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 10px;
  display: inline-block;
}

.rm-list-style {
  list-style-type: none;
}

a {
  color: rgb(31, 31, 158);
}

.banner {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  float: left;
  vertical-align: center;
}